<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>77592198871-kkf8ud53qdevst8s7icaq6lcatba4dp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77592198871-kkf8ud53qdevst8s7icaq6lcatba4dp5</string>
	<key>API_KEY</key>
	<string>AIzaSyAVq20wrkRJ-9DdzPks6hcP-h7kG72IkZc</string>
	<key>GCM_SENDER_ID</key>
	<string>77592198871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viswakodela.Date-Me-App</string>
	<key>PROJECT_ID</key>
	<string>date-me-app-89617</string>
	<key>STORAGE_BUCKET</key>
	<string>date-me-app-89617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77592198871:ios:10ec7c1f7c9b47da</string>
	<key>DATABASE_URL</key>
	<string>https://date-me-app-89617.firebaseio.com</string>
</dict>
</plist>